
html {
    background-color: cadetblue;

}

#game-intro {
    text-align: center;
    font-size: 200%;
    font-family: 'Silkscreen', cursive;
}


.color-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    gap: 10%;

}

.colorbox {
    border-width: 10px;
    border-color: black;
    border-radius: 40%;
    border-style: solid;
    display: flex;
    aspect-ratio: 1 / 1;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    cursor: pointer;
    font-family: monospace;
    font-size: 2em;
}

@media only screen and (max-width: 600px){
    .color-container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .colorbox {
        width: 35%;
    }
    
}

#red {
    background-color: crimson;
}

#blue {
    background-color: aqua;

}

#yellow {
    background-color: darkorange;
}

#green {
    background-color: chartreuse;
}